* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
}

header {
  background-image: url("images/st_peters_illustration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  border-bottom: solid 5px darkgrey;
}

header p {
  padding-left: 55px;
  font-size: 28px;
  width: 500px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
}

h1 {
  padding-left: 100px;
  font-size: 60px;
  text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
}

.section h2 {
  text-align: center;
}

.section p {
  padding: 16px;
  text-align: justify;
}

.section p::first-letter {
  font-size: 22px;
}

.gallery img {
  float: left;
  width: 19.99999%;
  height: auto;
  border: 1px solid #ccc;
}

.gallery img:hover {
  transform: scale(1.25, 1.25);
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.single_image img {
  margin-left: 35%;
}

footer {
  position: relative;
  bottom: 0;
  border-top: solid 2px black;
  background-color: rgb(221, 219, 219);
}

footer p {
  text-align: center;
  color: black;
}